p, div {
	padding: 0px;
}

body {
    background-color: black;
    margin: auto;
    padding: 200px;
    width: 1232px;
    height: 475px;
}

canvas {
	border: 3px solid blue;
	padding: 0px;
	float: left;
}

#canvasStats, #canvasLog, #canvasInventory {
	border: 3px solid blue;
	padding: 10px;
	width: 227px;
	height: 355px;
	font-family: arial, 'sans serif';
    color: #FFFFFF;
    float: left;
}

#canvasInventory {
	float: right;
	background-image: url('assets/images/inventory/bg_inventory.jpg');
	background-repeat: no-repeat;
	background-position: left top;
}

#canvasLog {
	width: 1206px;
	height: 100px;
	text-align: justify;
}

#canvasInventoryHelmSlot, #canvasInventoryBackSlot, #canvasInventoryChestSlot, #canvasInventoryFeetSlot, #canvasInventoryLegsSlot, #canvasInventoryWaistSlot, #canvasInventoryLHandSlot, #canvasInventoryRHandSlot {
	position: relative;
	width: 64px;
	height: 64px;
	background-image: url('assets/images/inventory/icons/empty_icon.jpg');
	background-repeat: no-repeat;
	background-position: left top;
} 

#canvasInventoryHelmSlot {
	top: -10px;
	right: -78px;	
}

#canvasInventoryBackSlot {
	top: -32px;
	right: -10px;		
}

#canvasInventoryChestSlot {
	top: -48px;
	right: -78px;	
}

#canvasInventoryFeetSlot {
	top: 85px;
	right: -78px;	
}

#canvasInventoryLegsSlot {
	top: -44px;
	right: -78px;	
}

#canvasInventoryWaistSlot {
	top: -175px;
	right: -78px;	
}

#canvasInventoryLHandSlot {
	top: -240px;
	right: -160px;		
}

#canvasInventoryRHandSlot {
	top: -304px;
	right: 0px;		
}