p, div, canvas {
	padding: 0px;
	border-radius: 5px;
}

p#inventoryItemHoverCardItemTitle,
p#inventoryItemHoverCardItemAttributes,
p#inventoryItemHoverCardItemDescription {
	font-family: arial, 'sans serif';
	padding: 10px;
}

p#inventoryItemHoverCardItemTitle {
	font-weight: bolder;
	padding: 10px;
	color: #696969;
}

p#inventoryItemHoverCardItemAttributes {
	color: #FFFAF0;
}

p#inventoryItemHoverCardItemDescription {
	color: #B8860B;
}

body {
    background-color: black;
    margin: auto;
    padding: 200px;
    width: 1232px;
    height: 475px;
}

canvas {
	border: 3px solid blue;
	border-radius: 5px;
	padding: 0px;
	float: left;
}

#canvasStats,
#canvasLog,
#canvasInventory {
	border: 3px solid blue;
	border-radius: 5px;
	padding: 10px;
	width: 227px;
	height: 355px;
	font-family: arial, 'sans serif';
    color: #FFFFFF;
    float: left;
}

p#canvasLogText {
	margin: 0px;
}

#canvasInventory {
	float: right;
	background-image: url('assets/images/inventory/bg_inventory.jpg');
	background-repeat: no-repeat;
	background-position: left top;
}

#canvasLog {
	width: 1206px;
	height: 100px;
	text-align: justify;
}

#statsHPPolyBarBackground,
#statsXPPolyBarBackground {
	position: relative;
	float: left;
	height: 25px;
	width: 227px;
	border: 1px solid #eee;
    border-radius: 0px;
    text-align: center;
}

#statsVerboseBackground {
	float: center;
	width: 70%;
	height: 100px;
	padding-left: 15%;
	padding-top: 30%;
}

#statsHPPolyBar,
#statsXPPolyBar {
	position: relative;
	height: 25px;
	float: left;
	z-index: 0;
}

p#statsHPText,
p#statsXPText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -140%);
}

p#statsVerboseTextLeft {
	position: relative;
	top: -12.5px;
	float: left;
	text-align: left;
	color: #FFFFFF;
}

p#statsVerboseTextRight {
	position: relative;
	top: -12.5px;
	float: right;
	text-align: right;
	color: #FFFFFF;
}

#canvasInventoryHelmSlot,
#canvasInventoryBackSlot,
#canvasInventoryChestSlot,
#canvasInventoryFeetSlot,
#canvasInventoryLegsSlot,
#canvasInventoryWaistSlot,
#canvasInventoryLHandSlot,
#canvasInventoryRHandSlot {
	position: relative;
	border-radius: 5px;
	width: 64px;
	height: 64px;
	background-image: url('assets/images/inventory/icons/empty_icon.png');
	background-repeat: no-repeat;
	background-position: left top;
	cursor: help;
} 

#canvasInventoryHelmSlot {
	top: -2px;
	right: -78px;	
}

#canvasInventoryBackSlot {
	top: -24px;
	right: -10px;		
}

#canvasInventoryChestSlot {
	top: -40px;
	right: -78px;	
}

#canvasInventoryFeetSlot {
	top: 93px;
	right: -78px;	
}

#canvasInventoryLegsSlot {
	top: -36px;
	right: -78px;	
}

#canvasInventoryWaistSlot {
	top: -167px;
	right: -78px;	
}

#canvasInventoryLHandSlot {
	top: -232px;
	right: -160px;		
}

#canvasInventoryRHandSlot {
	top: -296px;
	right: 0px;		
}

p#inventoryItemHoverCardItemTitle,
p#inventoryItemHoverCardItemAttributes,
p#inventoryItemHoverCardItemDescription {
	margin-top: 5px;
	margin-bottom: 0px;
	padding-left: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
}

p#inventoryItemHoverCardItemDescription {
	padding-bottom: 5px;
}

#canvasItemHoverCard {
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    border: 1px solid #eee;
    border-radius: 5px;
    background: #000000;
    box-shadow: 3px 4px 6px rgba(0,0,0,0.4);
	height: auto;
	width: 250px;
	position: absolute;
	padding: 0px;
	margin: 0px;
}

p#statsHPText,
p#statsXPText,
p#inventoryItemHoverCardItemTitle,
p#inventoryItemHoverCardItemAttributes,
p#inventoryItemHoverCardItemDescription,
p#statsVerboseTextRight,
p#statsVerboseTextLeft {

	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */

}